body{
    background-color: black;
    color: white;
}
.icon-green {
    color: green;
}

h2{
    color: white;
}

.icon-red {
    color: red;
}

.rounded-border {
    border-radius: 3px;
    overflow: hidden;
}

.rounded-border-bottom {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table {
    margin-bottom: 0;
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    display:flex;
    justify-content: flex-end;
}
